@import "../../sass/main.scss";

.url-input{
    width: 100%;
    background-image: url(../../images/bg-shorten-desktop.svg);
    background-color: $color-primary-dark-violet;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    transform: translateY(-50%);

    @include media-queries(map-get($breakpoints, bp-900)){
        flex-direction: column;
	}

    @include media-queries(map-get($breakpoints, bp-900)){
        padding: 4rem 3rem;
	}

    &__field-box{
        flex:1;
        margin-right: 2rem;
        position: relative;

        @include media-queries(map-get($breakpoints, bp-900)){
            margin-right: 0;
        }
    }

     &__field{
        border-radius: .5rem;
        border: none;
        font-size: inherit;
        font-family: inherit;
        height: 5rem;
        width: 100%;
        outline: none;

         @include media-queries(map-get($breakpoints, bp-900)){
            flex:none;
            margin-bottom: 2rem;
        }

         &::placeholder{
             color: $color-text-grayish-violet;
             padding-left: 2rem;
        }

        &--error{
            border: solid 2px $color-red;

            &::placeholder{
                color: $color-red;
            }
        }

        &::focus{
            border: none;
        }
     }

     &__errorMsg{
        position: absolute;
        color: $color-red;

        @include media-queries(map-get($breakpoints, bp-900)){
            top: -3rem
        }
     }

}