@import "../../../sass/main.scss";

.hero{
    width: 100%;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    background-image: url(./illustration-working.svg);
    background-repeat: no-repeat;
    background-position: 95% top;
    background-size: 60rem;

    @include media-queries(map-get($breakpoints, bp-1260)){
		padding-right:3rem;
        padding-left: 3rem;
	}

    @include media-queries(map-get($breakpoints, bp-900)){
        height: 70rem;
        background-position: center top;
        background-size: 50rem;
    }

    @include media-queries(map-get($breakpoints, bp-600)){
        background-size: 40rem;
    }

    

    & button{
        margin-top: 1rem;
    }

    &__text{
        @include media-queries(map-get($breakpoints, bp-900)){
            grid-row: 2/3;
            text-align: center;
        }
    }

    &__img-box{
        height: 100%;
        @include media-queries(map-get($breakpoints, bp-900)){
            grid-row: 1/2;
        }
        
    }

    &__img{
        width: 100%;
        height: 100%;
        transform: translateX(20rem);

        
    }
}